.box-uploader {
    width: 320px;
    height: 200px;
    margin: 7px auto;
    /* background-position: 50%; */
    /* background-size: cover; */
    border: 1px solid #ab2a19;
    background: white;
}

.form {
    width: 350px;
    height: 520px;
    padding: 15px;
    margin: 10px auto;
    border-radius: 7px;
    background-color: #3ad886;
    display: flex;

}

img {
    width: 320px;
    height: 200px;
    margin: 7px auto;
    display: flex;
}