.box-uploader {
    width: 320px;
    height: 200px;
    margin: 7px auto;
    border: 1px solid #ab2a19;
    background: white;
}

.form {
    width: 350px;
    height: 520px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: #3ad886;
}

img {
    width: 320px;
    height: 200px;
    margin: 7px auto;
}